.image-cell {
    vertical-align: top;
}

.del-button:hover,
.add-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.del-button,
.add-button {
    font-size: 0.8em;
}

.authors-table {
    border-spacing: 0;
}

.book-spec {
    padding-top: 5px;
    padding-bottom: 5px;
}

.image-box {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    background-image: url(../../assets/photo-camera.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.invalid-value {
    background-color: red;
}

.image-btns {
    margin-top: 10px;
}