<div class="details">
  <div class="book-spec">
    <div>Header</div>
    <input [(ngModel)]="book.header" placeholder="Header"/>
  </div>

  <div class="book-spec">
    <div>Authors</div>      
    <table class="authors-table">
      <tr>
        <td>
          <input [(ngModel)]="book.authors[0].firstName" placeholder="First Name"/>
        </td>
        <td>
          <input [(ngModel)]="book.authors[0].lastName" placeholder="Last Name"/>
        </td>
      </tr>
      <tr *ngFor="let author of book.authors | slice:1">
        <td>
          <input [(ngModel)]="author.firstName" placeholder="First Name"/>
        </td>
        <td>
          <input [(ngModel)]="author.lastName" placeholder="Last Name"/>
        </td>
        <td>
          <span class="del-button" (click)="onDeleteAuthor(author)">Delete</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="add-button" (click)="onAddAuthor()">Add</span>
        </td>
      </tr>
    </table>
  </div>

  <div class="book-spec">
    <div>Total pages</div>
    <input [(ngModel)]="book.length" placeholder="Length"/>
  </div>

  <div class="book-spec">
    <div>Publisher</div>
    <input [(ngModel)]="book.publisher" placeholder="Publisher"/>
  </div>

  <div class="book-spec">
    <div>Published in</div>
    <input [(ngModel)]="book.publishYear" placeholder="YYYY"/>
  </div>

  <div class="book-spec">
    <div>Issued in</div>
    <input [(ngModel)]="book.issueDate" placeholder="DD.MM.YYYY"/>
  </div>

  <div class="book-spec">
    <div>ISBN</div>
    <input [(ngModel)]="book.ISBN" placeholder="ISBN"/>
  </div>

  <div class="book-spec">
    <div>Image</div>
  </div>

  <button (click)="onSave()">Save</button>

</div>