<h3>Books list</h3>

<button (click)="uploadList()" [disabled]="isAddBook || selectedBook">Upload</button> 

<table class="master-table">
  <tr>
    <th>Header</th>
    <th>Author</th> 
    <th>Published</th>
  </tr>
  <tr class="table-row" *ngFor="let book of books" (click)="onSelect(book)">
    <td>{{ book.header }}</td>
    <td>{{ book.authors[0].firstName }} {{ book.authors[0].lastName }}</td>
    <td>{{ book.publishYear }}</td>
    <td class="del-book-cell">
      <button class="del-button" (click)="onDeleteBook(book)">Delete</button>
    </td>
  </tr>
  <tr>
    <td>
        <button class="add-button" (click)="onAddBook()" [disabled]="isAddBook">Add</button> 
    </td>
  </tr>
</table>

<div *ngIf="selectedBook && !isAddBook">
  <h3>Book details</h3>
  <book-details [book]="selectedBook" (destroySelf)="onClearDetails()"></book-details>
</div>

<div *ngIf="isAddBook">
  <h3>Add new book</h3>
  <book-details (destroySelf)="onClearDetails()"></book-details>
</div>