<div>
  <h3>Books list</h3>

  <table class="master-table">
    <tr>
      <th>Header</th>
      <th>Author</th> 
      <th>Published</th>
    </tr>
    <tr class="table-row" *ngFor="let book of books" (click)="onSelect(book)">
      <td>{{ book.header }}</td>
      <td>{{ book.authors[0].firstName }} {{ book.authors[0].lastName }}</td>
      <td>{{ book.publishYear }}</td>
      <td class="del-book-cell">
        <span class="del-button" (click)="onDeleteBook(book)">Delete</span>
      </td>
    </tr>
    <tr>
      <td class="add-book-cell">
        <span class="add-button" (click)="onAddBook()">Add</span>
      </td>
    </tr>
  </table>

  <div *ngIf="selectedBook" class="details">
    <h3>Book details</h3>

    <div class="book-spec">
      <div>Header</div>
      <input [(ngModel)]="selectedBook.header" placeholder="Header"/>
    </div>

    <div class="book-spec">
      <div>Authors</div>      
      <table class="authors-table">
        <tr>
          <td>
            <input [(ngModel)]="selectedBook.authors[0].firstName" placeholder="First Name"/>
          </td>
          <td>
            <input [(ngModel)]="selectedBook.authors[0].lastName" placeholder="Last Name"/>
          </td>
        </tr>
        <tr *ngFor="let author of selectedBook.authors | slice:1">
          <td>
            <input [(ngModel)]="author.firstName" placeholder="First Name"/>
          </td>
          <td>
            <input [(ngModel)]="author.lastName" placeholder="Last Name"/>
          </td>
          <td>
            <span class="del-button" (click)="onDeleteAuthor(author)">Delete</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="add-button" (click)="onAddAuthor()">Add</span>
          </td>
        </tr>
      </table>
    </div>

    <div class="book-spec">
      <div>Total pages</div>
      <input [(ngModel)]="selectedBook.length" placeholder="Length"/>
    </div>

    <div class="book-spec">
      <div>Publisher</div>
      <input [(ngModel)]="selectedBook.publisher" placeholder="Publisher"/>
    </div>

    <div class="book-spec">
      <div>Published in</div>
      <input [(ngModel)]="selectedBook.publishYear" placeholder="YYYY"/>
    </div>

    <div class="book-spec">
      <div>Issued in</div>
      <input [(ngModel)]="selectedBook.issueDate" placeholder="DD.MM.YYYY"/>
    </div>

    <div class="book-spec">
      <div>ISBN</div>
      <input [(ngModel)]="selectedBook.ISBN" placeholder="ISBN"/>
    </div>

    <div class="book-spec">
      <div>Image</div>
    </div>

  </div>
</div>